<div class="selector">
<div class="row container-fluid bg-light vt">
  <header class="stone-800"><h5>Best Practice Toolkit</h5></header>
  <div class="col-xs-6">
    <div class="row ml-5">
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">People</p>
        <a href="/best_practice/communication"><div class="dobutton banana-100">Communication</div></a>
        <a href="/best_practice/people_impact_assessment"><div class="dobutton banana-200">People Impact Assessment</div></a>
        <a href="/best_practice/training"><div class="dobutton banana-300">Training</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle"></p>
        <a href="/best_practice/org_impact_assessment"><div class="dobutton banana-400">Org Impact Assessment</div></a>
        <a href="/best_practice/roles"><div class="dobutton banana-500">Roles</div></a>
        <a href="/best_practice/recruitment_interviews"><div class="dobutton banana-600">Recruitment Interview</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Planning</p>
        <a href="/best_practice/product_descriptions"><div class="dobutton purple-100">Product Descriptions</div></a>
        <a href="/best_practice/pbs"><div class="dobutton purple-200">Product Breakdown Str</div></a>
        <a href="/best_practice/pfd"><div class="dobutton purple-300">Product Flow Diagram</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle"></p>
        <a href="/best_practice/schedule"><div class="dobutton purple-400">Schedule</div></a>
        <a href="/best_practice/milestone_management"><div class="dobutton purple-500">Milestone Management</div></a>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row ml-5">
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Governance</p>
        <a href="/best_practice/meeting_management"><div class="dobutton stone-100">Meeting Management</div></a>
        <a href="/best_practice/org_structure"><div class="dobutton stone-200">Organisational Structure</div></a>
        <a href="/best_practice/assurance"><div class="dobutton stone-300">Assurance</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Information</p>
        <a href="/best_practice/planning_estimating"><div class="dobutton royal-blue-100">Planning & Estimating</div></a>
        <a href="/best_practice/document_management"><div class="dobutton royal-blue-300">Document Management</div></a>
        <a href="/best_practice/version_management"><div class="dobutton royal-blue-500">Version Management</div></a>
        <a href="/best_practice/configuration_management"><div class="dobutton royal-blue-700">Configuration Mgmt</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Process</p>
        <a href="/best_practice/business_analysis"><div class="dobutton stone-400">Business Analysis</div></a>
        <a href="/best_practice/requirements_elicitation"><div class="dobutton stone-500">Requirements Elicitation</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle"></p>

      </div>
    </div>
  </div>
</div>
</div>
