{% include lifecycle_tool.html %}
<div class="lifecycle-content container teal-100 py-3">
  <div class="row">
    <div class="col-12 col-sm-2 border-right">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="delivery"><div class="shape end-shape">Delivery</div></a>
    </div>
    <div class="col-12 col-sm-8 border-right">
      <div class="row">
        <div class="col-4">
          <div class="shape empty-shape"></div>
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Early Life Support</div></a>

        </div>
        <div class="col-4">
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Lessons Learned</div></a>
          <a href="#"><div class="shape process-shape">Benefits Review</div></a>
          <a href="/projects/project_closure_report"><div class="shape process-shape">Project Closure Report</div></a>
        </div>
        <div class="col-4">
          <div class="shape empty-shape"></div>
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Project Closure Meeting</div></a>

        </div>
      </div>
    </div>
    <div class="col-12 col-sm-2">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="#"><div class="shape end-shape">End</div></a>
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
    </div>
  </div>
</div>
