{% include lifecycle_tool.html %}
<div class="lifecycle-content teal-100">
  <div class="row lifecycle-row">
    <div class="col-12 col-lg-3 lifecycle-border">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="delivery"><div class="shape end-shape">Delivery</div></a>
    </div>
    <div class="col-12 col-lg-6 lifecycle-border">
      <div class="row lifecycle-row">
        <div class="col-12 col-lg-4">
          <div class="shape empty-shape"></div>
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Early Life Support</div></a>

        </div>
        <div class="col-12 col-lg-4">
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Lessons Learned</div></a>
          <a href="#"><div class="shape process-shape">Benefits Review</div></a>
          <a href="/projects/project_closure_report"><div class="shape process-shape">Closure Report</div></a>
        </div>
        <div class="col-12 col-lg-4">
          <div class="shape empty-shape"></div>
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Closure Meeting</div></a>

        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="#"><div class="shape end-shape">End</div></a>
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
    </div>
  </div>
</div>
