{% include lifecycle_tool.html %}
<div class="lifecycle-content teal-100">
  <div class="row lifecycle-row">
    <div class="col-12 col-lg-3 lifecycle-border">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="03planning"><div class="shape end-shape">Planning</div></a>
    </div>
    <div class="col-12 col-lg-6 lifecycle-border">
      <div class="row lifecycle-row">
        <div class="col-12 col-lg-4">
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Design</div></a>
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Training Needs</div></a>
        </div>
        <div class="col-12 col-lg-4">
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Build / Procure</div></a>
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Training Plan</div></a>
        </div>
        <div class="col-12 col-lg-4">
          <div class="shape empty-shape"></div>
          <a href="/projects/test_approach"><div class="shape process-shape">Testing</div></a>
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Training Delivery</div></a>
          <a href="#"><div class="shape process-shape">Technical Readiness</div></a>

        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="shape empty-shape"></div>
      <a href="#"><div class="shape process-shape">Service Transition</div></a>
      <a href="05closure"><div class="shape start-shape">Closure Stage</div></a>
    </div>
  </div>
</div>
