{% include lifecycle_tool.html %}
<div class="lifecycle-content teal-100">
  <div class="row lifecycle-row">
    <div class="col-12 col-lg-3 lifecycle-border">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="01startup"><div class="shape end-shape">Startup Stage</div></a>
    </div>
    <div class="col-12 col-lg-6 lifecycle-border">
      <div class="row lifecycle-row">
        <div class="col-12 col-lg-4">
          <a href="/projects/identify_stakeholders"><div class="shape process-shape">Identify Key stakeholders</div></a>
        </div>
        <div class="col-12 col-lg-4">
          <a href="#">
          <div class="shape process-shape"><a href="/projects/comms_strategy">Comms Strategy</a></div>
          </a>
          <a href="#">
          <div class="shape process-shape">Business Case</div>
          </a>
          <a href="/projects/risk_register">
          <div class="shape process-shape">Risk Register</div>
          </a>
          <a href="#">
          <div class="shape process-shape">Plan on a Page</div>
          </a>
          <a href="/projects/delivery_approach">
          <div class="shape process-shape">Delivery Approach</div>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <a href="/projects/project_initiation_document">
          <div class="shape process-shape">Project Init. Doc.</div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="03planning"><div class="shape start-shape">Planning Stage</div></a>
    </div>
  </div>
</div>
