{% include lifecycle_tool.html %}
<div class="lifecycle-content container teal-100 py-3">
  <div class="row">
    <div class="col-12 col-sm-2 border-right">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="startup"><div class="shape end-shape">Startup Stage</div></a>
    </div>
    <div class="col-12 col-sm-8 border-right">
      <div class="row">
        <div class="col-4">
          <a href="#"><div class="shape process-shape">Identify Key stakeholders</div></a>
        </div>
        <div class="col-4">
          <a href="#">
          <div class="shape process-shape">Comms Strategy</div>
          </a>
          <a href="#">
          <div class="shape process-shape">Business Case</div>
          </a>
          <a href="#">
          <div class="shape process-shape">Risk Register</div>
          </a>
          <a href="#">
          <div class="shape process-shape">Plan on a Page</div>
          </a>
          <a href="#">
          <div class="shape process-shape">Delivery Approach</div>
          </a>
        </div>
        <div class="col-4">
          <a href="/projects/project_initiation_document">
          <div class="shape process-shape">Project Initiaton Document</div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-2">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="planning"><div class="shape start-shape">Planning Stage</div></a>
    </div>
  </div>
</div>
