<div class="lifecycle">
  <ul class="nav nav-fill">
    <li class="nav-item"><a href="/projects/lifecycle/startup" class="nav-link {%if page.title == 'Startup' %}active{% endif %}">Startup</a></li>
    <li class="nav-item"><a href="/projects/lifecycle/initiation" class="nav-link {%if page.title == 'Initiation' %}active{% endif %}">Initiation</a></li>
    <li class="nav-item"><a href="/projects/lifecycle/planning" class="nav-link {%if page.title == 'Planning' %}active{% endif %}">Planning</a></li>
    <li class="nav-item"><a href="/projects/lifecycle/delivery" class="nav-link {%if page.title == 'Delivery' %}active{% endif %}">Delivery</a></li>
    <li class="nav-item"><a href="/projects/lifecycle/closure" class="nav-link {%if page.title == 'Closure' %}active{% endif %}">Closure</a></li>
  </ul>
</div>
