<div class="selector">
<div class="row container-fluid bg-light vt">
  <header class="stone-800"><h5>Methodologies</h5></header>
  <div class="col-xs-6">
    <div class="row ml-5">
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Traditional</p>
        <a href="/methodologies/prince2"><div class="dobutton teal-100">PRINCE2</div></a>
        <a href="/methodologies/waterfall-vs-agile"><div class="dobutton teal-300">Waterfall</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Agile</p>
        <a href="/methodologies/agile-scrum"><div class="dobutton fire-red-100">Agile & Scrum</div></a>
        <a href="/methodologies/waterfall-vs-agile"><div class="dobutton fire-red-300">Waterfall vs Agile</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Combined</p>
        <a href="/methodologies/hybrid"><div class="dobutton tangerine-100">Hybrid Approaches</div></a>
        <a href="/methodologies"><div class="dobutton tangerine-300">Overview</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="dotitle"></p>
      </div>
    </div>
  </div>
</div>
</div>
