<div class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand text-white" href="http://www.kevstemplates.com">KEVSTEMPLATES.COM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-control="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    {% for item in site.data.navigation %}
      <a href="{{item.link}}" class="nav-link {% if page.url == item.link %}active{% endif %}">{{ item.name }}</a>
    {% endfor %}
  </div>
</div>
