<div class="row" id="planning">
  <div class="col-12">
    <h2 class="bg-warning text-dark p-2 rounded">Planning & Scheduling</h2>
  </div>
</div>
<div class="row">
  <a href="/planning/estimation">
    <div class="dobutton amber-600"><i class="fas fa-calculator mr-1"></i>Estimation Techniques</div>
  </a>
  <a href="/planning/wbs">
    <div class="dobutton amber-600"><i class="fas fa-sitemap mr-1"></i>Work Breakdown Structure</div>
  </a>
  <a href="/planning/critical-path">
    <div class="dobutton amber-600"><i class="fas fa-project-diagram mr-1"></i>Critical Path Method</div>
  </a>
  <a href="/planning/gantt-charts">
    <div class="dobutton amber-600"><i class="fas fa-chart-gantt mr-1"></i>Gantt Charts</div>
  </a>
</div>
