{% include lifecycle_tool.html %}
<div class="lifecycle-content teal-100">
  <div class="row lifecycle-row">
    <div class="col-12 col-lg-3 lifecycle-border">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="initiation"><div class="shape end-shape">Initiation</div></a>
    </div>
    <div class="col-12 col-sm-12 col-lg-6 lifecycle-border">
      <div class="row lifecycle-row">
        <div class="col-12 col-lg-4">
          <a href="#"><div class="shape process-shape">Detail Stage Planning</div></a>
          <a href="/projects/resource_and_cost_modelling"><div class="shape process-shape">Resource Model</div></a>
          <a href="#"><div class="shape process-shape">Support Model</div></a>
          <a href="#"><div class="shape process-shape">Identify Benefits</div></a>
          <a href="#"><div class="shape process-shape">IT Strategy</div></a>
        </div>
        <div class="col-12 col-lg-4">
          <a href="#"><div class="shape process-shape">Business Analysis</div></a>
          <div class="shape empty-shape"></div>
          <a href="/projects/requirements"><div class="shape process-shape">Business Requirements</div></a>
          <a href="#"><div class="shape process-shape">Service Requirements</div></a>
          <a href="#"><div class="shape process-shape">Define Blueprint</div></a>
          <a href="#"><div class="shape process-shape">IT Operating Requirements</div></a>
        </div>
        <div class="col-12 col-lg-4">
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Requirements Capture</div></a>
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Business Change</div></a>
          <a href="#"><div class="shape process-shape">Implementation Approach</div></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="delivery"><div class="shape start-shape">Delivery Stage</div></a>
    </div>
  </div>
</div>
