{% include lifecycle_tool.html %}
<div class="lifecycle-content container teal-100 py-3">
  <div class="row">
    <div class="col-12 col-sm-2 border-right">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="initiation"><div class="shape end-shape">Initiation</div></a>
    </div>
    <div class="col-12 col-sm-8 border-right">
      <div class="row">
        <div class="col-4">
          <a href="#">
          <div class="shape process-shape">Detail Stage Planning</div>
          </a>
          <a href="#">
          <div class="shape process-shape">Resource Model</div>
          </a>
          <a href="#">
          <div class="shape process-shape">Support Model</div>
          </a>
          <a href="#">
          <div class="shape process-shape">Identify Benefits</div>
          </a>
          <a href="#">
          <div class="shape process-shape">IT Strategy</div>
          </a>
        </div>
        <div class="col-4">
          <a href="#"><div class="shape process-shape">Business Analysis</div></a>
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Service Requirements</div></a>
          <a href="#"><div class="shape process-shape">Define Blueprint</div></a>
          <a href="#"><div class="shape process-shape">IT Operating Requirements</div></a>
        </div>
        <div class="col-4">
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Requirements Capture</div></a>
          <div class="shape empty-shape"></div>
          <a href="#"><div class="shape process-shape">Identify Business Change</div></a>
          <a href="#"><div class="shape process-shape">IT Ops Imple. Approach</div></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-2">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="delivery"><div class="shape start-shape">Delivery Stage</div></a>
    </div>
  </div>
</div>
