<div class="selector">
<div class="row container-fluid bg-light vt">
  <header class="stone-800"><h5>Portfolio Toolkit</h5></header>
  <div class="col-xs-6">
    <div class="row ml-5">
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Portfolio Mgmt</p>
        <a href="/portfolio/portfolio_lifecycle"><div class="dobutton teal-100">Portfolio Lifecycle</div></a>
        <a href="/portfolio/portfolio_healthcheck"><div class="dobutton teal-300">Portfolio Healthcheck</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Risk & Reporting</p>
        <a href="/portfolio/portfolio_reporting"><div class="dobutton fire-red-500">Portfolio Reporting</div></a>
        <a href="/portfolio/portfolio_risk_mgmt"><div class="dobutton fire-red-700">Portfolio Risk Mgmt</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Controls</p>
        <a href="/portfolio/portfolio_management"><div class="dobutton stone-500">Portfolio Management</div></a>
        <a href="/portfolio/project_sizing_tool"><div class="dobutton stone-700">Project Sizing Tool</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">People</p>
        <a href="/portfolio/portfolio_resource_mgmt"><div class="dobutton banana-700">Resource Management</div></a>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row ml-5">
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Planning</p>
        <a href="/portfolio/portfolio_demand_mgmt"><div class="dobutton purple-500">Demand Management</div></a>
        <a href="/portfolio/pmo_planning_process"><div class="dobutton purple-700">PMO Planning</div></a>
      </div>
    </div>
  </div>
</div>
</div>
