<div class="selector">
<div class="row container-fluid bg-light vt">
  <header class="stone-800"><h5>Programme Toolkit</h5></header>
  <div class="col-xs-6">
    <div class="row ml-5">
    <div class="col-sm-3 mt-3">
      <p class="text-muted dotitle">Programme mgmt</p>
      <a href="/programmes/programme_lifecycle"><div class="dobutton teal-100">Programme Lifecycle</div></a>
      <a href="/programmes/programme_healthcheck"><div class="dobutton teal-300">Programme Healthcheck</div></a>
    </div>
    <div class="col-sm-3 mt-3">
      <p class="text-muted dotitle">Strategy</p>
      <a href="/programmes/blueprint"><div class="dobutton royal-blue-100">Blueprint</div></a>
      <a href="#"><div class="dobutton"></div></a>
    </div>
    <div class="col-sm-3 mt-3">
      <p class="text-muted dotitle">Knowledge</p>
      <a href="/programmes/knowledge_management"><div class="dobutton tangerine-500">Knowledge Management</div></a>
      <a href="/programmes/information_management"><div class="dobutton tangerine-700">Information Management</div></a>
    </div>
    <div class="col-sm-3 mt-3">
      <p class="text-muted dotitle">Controls</p>
      <a href="/programmes/programme_governance"><div class="dobutton stone-100">Governance</div></a>
      <a href="/programmes/programme_assurance"><div class="dobutton stone-300">Assurance</div></a>
      
    </div>
    </div>
  </div>
  <div class="col-xs-6">
  <div class="row ml-5">
    <div class="col-sm-3 mt-3">
      <p class="text-muted dotitle">People</p>
      <a href="/programmes/stakeholder_management"><div class="dobutton banana-500">Stakeholder Management</div></a>
    </div>
  </div>
  </div>
</div>
</div>
