<div class="selector">
<div class="row container-fluid bg-light vt">
  <header class="stone-800"><h5>Project Toolkit</h5></header>
  <div class="col-xs-6">
    <div class="row ml-5">
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Project Mgmt</p>
        <a href="/projects/lifecycle"><div class="dobutton teal-100">Project Lifecycle</div></a>
        <a href="/projects/project_healthcheck"><div class="dobutton teal-300">Project Healthcheck</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Risks & Reporting</p>
        <a href="/projects/risk_register"><div class="dobutton fire-red-100">Risks & Issue Management</div></a>
        <a href="/projects/project_reporting"><div class="dobutton fire-red-300">Project Reporting</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Knowledge</p>
        <a href="/projects/lessons_learned"><div class="dobutton tangerine-100">Lessons Learned</div></a>
        <a href="/projects/bullet_journal"><div class="dobutton tangerine-300">Daily Log / Bullet Journal</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Controls</p>
        <a href="/projects/project_change_control"><div class="dobutton stone-100">Project Change Control</div></a>
        <a href="/projects/deliverables_wbs_pbs"><div class="dobutton stone-300">Deliverables / WBS / PBS</div></a>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row ml-5">
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">People</p>
        <a href="/projects/project_resources_obs"><div class="dobutton banana-100">Resources / OBS</div></a>
        <a href="/projects/business_change_management"><div class="dobutton banana-300">Business Change Management</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Planning</p>
        <a href="/projects/quality_planning"><div class="dobutton purple-100">Quality Planning</div></a>
        <a href="/projects/project_planning"><div class="dobutton purple-300">Planning</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Finance</p>
        <a href="/projects/financial_planning"><div class="dobutton royal-blue-100">Financial Planning</div></a>
        <a href="/projects/financial_forecasting"><div class="dobutton royal-blue-300">Financial Forecasting</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="dotitle"></p>
        <!-- <div class="dobutton"></div>
        <div class="dobutton"></div> -->
      </div>
    </div>
  </div>
</div>
</div>
