<div class="selector">
<div class="row container-fluid bg-light vt">
  <header class="stone-800"><h5>Risk Management</h5></header>
  <div class="col-xs-6">
    <div class="row ml-5">
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Assessment</p>
        <a href="/risk-management/risk-matrix"><div class="dobutton fire-red-100">Risk Matrix</div></a>
        <a href="/risk-management/probability-impact"><div class="dobutton fire-red-300">Scoring Guide</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Response</p>
        <a href="/risk-management/risk-responses"><div class="dobutton tangerine-100">Response Strategies</div></a>
        <a href="/risk-management/best-practices"><div class="dobutton tangerine-300">Best Practices</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Templates</p>
        <a href="/projects/risk_register"><div class="dobutton teal-100">RAID Log</div></a>
        <a href="/risk-management"><div class="dobutton teal-300">Overview</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="dotitle"></p>
      </div>
    </div>
  </div>
</div>
</div>
