<div class="selector">
  <div class="row">
    <a href="/projects"><div class="dobutton stone-500">Project Toolkit</div></a>
    <a href="/programmes"><div class="dobutton stone-500">Programme Toolkit</div></a>
    <a href="/portfolio"><div class="dobutton stone-500">Portfolio Toolkit</div></a>
    <a href="#"><div class="dobutton stone-500">Best Practice Toolkit</div></a>
    <a href="/themes"><div class="dobutton stone-500">Themes</div></a>
    <a href="#"><div class="dobutton stone-500">Tags</div></a>
    <a href="#"><div class="dobutton stone-500">Templates</div></a>
  </div>

  <div class="row container bg-light vt">
    <header class="stone-800"><h5>Project Toolkit</h5></header>
    <div class="col-xs-6">
      <div class="row ml-5">
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Project Mgmt</p>
          <a href="/projects/project_lifecycle"><div class="dobutton teal-100">Project Lifecycle</div></a>
          <a href="/projects/project_healthcheck"><div class="dobutton teal-300">Project Healthcheck</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Risks & Reporting</p>
          <a href="/projects/project_lifecycle"><div class="dobutton fire-red-100">Risks & Issue Management</div></a>
          <a href="/projects/project_reporting"><div class="dobutton fire-red-300">Project Reporting</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Knowledge</p>
          <a href="/projects/lessons_learned"><div class="dobutton tangerine-100">Lessons Learned</div></a>
          <a href="/projects/bullet_journal"><div class="dobutton tangerine-300">Daily Log / Bullet Journal</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Controls</p>
          <a href="/projects/project_change_control"><div class="dobutton stone-100">Project Change Control</div></a>
          <a href="/projects/deliverables_wbs_pbs"><div class="dobutton stone-300">Deliverables / WBS / PBS</div></a>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row ml-5">
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">People</p>
          <a href="/projects/project_resources_obs"><div class="dobutton banana-100">Resources / OBS</div></a>
          <a href="/projects/business_change_management"><div class="dobutton banana-300">Business Change Management</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Planning</p>
          <a href="/projects/quality_planning"><div class="dobutton purple-100">Quality Planning</div></a>
          <a href="/projects/project_planning"><div class="dobutton purple-300">Planning</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Finance</p>
          <a href="/projects/financial_planning"><div class="dobutton royal-blue-100">Financial Planning</div></a>
          <a href="/projects/financial_forecasting"><div class="dobutton royal-blue-300">Financial Forecasting</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="dobutton"></p>
          <div class="dobutton"></div>
          <div class="dobutton"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container bg-light vt">
    <header class="stone-800"><h5>Programme Toolkit</h5></header>
    <div class="col-xs-6">
      <div class="row ml-5">
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Programme mgmt</p>
        <a href="/programmes/programme_lifecycle"><div class="dobutton teal-100">Programme Lifecycle</div></a>
        <a href="/programmes/programme_healthcheck"><div class="dobutton teal-300">Programme Healthcheck</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Strategy</p>
        <a href="/programmes/blueprint"><div class="dobutton royal-blue-100">Blueprint</div></a>
        <a href="#"><div class="dobutton"></div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Knowledge</p>
        <a href="/programmes/knowledge_management"><div class="dobutton tangerine-500">Knowledge Management</div></a>
        <a href="/programmes/information_management"><div class="dobutton tangerine-700">Information Management</div></a>
      </div>
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">Controls</p>
        <a href="/programmes/programme_governance"><div class="dobutton stone-100">Governance</div></a>
        <a href="/programmes/programme_assurance"><div class="dobutton stone-300">Assurance</div></a>
      </div>
      </div>
    </div>
    <div class="col-xs-6">
    <div class="row ml-5">
      <div class="col-sm-3 mt-3">
        <p class="text-muted dotitle">People</p>
        <a href="/programmes/stakeholder_management"><div class="dobutton banana-500">Stakeholder Management</div></a>
      </div>
    </div>
    </div>

  </div>
  <div class="row container bg-light vt">
    <header class="stone-800"><h5>Portfolio Toolkit</h5></header>

    <div class="col-xs-6">
      <div class="row ml-5">
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Portfolio Mgmt</p>
          <a href="/portfolio/portfolio_lifecycle"><div class="dobutton teal-100">Portfolio Lifecycle</div></a>
          <a href="/portfolio/portfolio_healthcheck"><div class="dobutton teal-300">Portfolio Healthcheck</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Risk & Reporting</p>
          <a href="/portfolio/portfolio_reporting"><div class="dobutton fire-red-500">Portfolio Reporting</div></a>
          <a href="/portfolio/portfolio_risk_mgmt"><div class="dobutton fire-red-700">Portfolio Risk Mgmt</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Controls</p>
          <a href="/portfolio/portfolio_management"><div class="dobutton stone-500">Portfolio Management</div></a>

        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">People</p>
          <a href="/portfolio/portfolio_resource_mgmt"><div class="dobutton banana-700">Resource Management</div></a>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row ml-5">
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Planning</p>
          <a href="/portfolio/portfolio_demand_mgmt"><div class="dobutton purple-500">Demand Management</div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row container bg-light vt">
    <header class="stone-800"><h5>Best Practice Toolkit</h5></header>
    <div class="col-xs-6">
      <div class="row ml-5">
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">People</p>
          <a href="/best_practice/communication"><div class="dobutton banana-100">Communication</div></a>
          <a href="/best_practice/people_impact_assessment"><div class="dobutton banana-200">People Impact Assessment</div></a>
          <a href="/best_practice/training"><div class="dobutton banana-300">Training</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle"></p>
          <a href="/best_practice/org_impact_assessment"><div class="dobutton banana-400">Org Impact Assessment</div></a>
          <a href="/best_practice/roles"><div class="dobutton banana-500">Roles</div></a>
          <a href="/best_practice/recruitment_interviews"><div class="dobutton banana-600">Recruitment Interview</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Planning</p>
          <a href="/best_practice/product_descriptions"><div class="dobutton purple-100">Product Descriptions</div></a>
          <a href="/best_practice/pbs"><div class="dobutton purple-200">Product Breakdown Str</div></a>
          <a href="/best_practice/pfd"><div class="dobutton purple-300">Product Flow Diagram</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle"></p>
          <a href="/best_practice/schedule"><div class="dobutton purple-400">Schedule</div></a>
          <a href="/best_practice/milestone_management"><div class="dobutton purple-500">Milestone Management</div></a>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row ml-5">
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Governance</p>
          <a href="/best_practice/meeting_management"><div class="dobutton stone-100">Meeting Management</div></a>
          <a href="/best_practice/org_structure"><div class="dobutton stone-200">Organisational Structure</div></a>
          <a href="/best_practice/assurance"><div class="dobutton stone-300">Assurance</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Information</p>
          <a href="/best_practice/planning_estimating"><div class="dobutton royal-blue-100">Planning & Estimating</div></a>
          <a href="/best_practice/document_management"><div class="dobutton royal-blue-300">Document Management</div></a>
          <a href="/best_practice/version_management"><div class="dobutton royal-blue-500">Version Management</div></a>
          <a href="/best_practice/configuration_management"><div class="dobutton royal-blue-700">Configuration Mgmt</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle">Process</p>
          <a href="/best_practice/business_analysis"><div class="dobutton stone-400">Business Analysis</div></a>
          <a href="/best_practice/requirements_elicitation"><div class="dobutton stone-500">Requirements Elicitation</div></a>
        </div>
        <div class="col-sm-3 mt-3">
          <p class="text-muted dotitle"></p>

        </div>
      </div>
    </div>
  </div>
</div>
