<div class="selector">
  <div class="row">
    <a href="/projects"><div class="dobutton stone-500">Project Toolkit</div></a>
    <a href="/programmes"><div class="dobutton stone-500">Programme Toolkit</div></a>
    <a href="/portfolio"><div class="dobutton stone-500">Portfolio Toolkit</div></a>
    <a href="#"><div class="dobutton stone-500">Best Practice Toolkit</div></a>
    <a href="/themes"><div class="dobutton stone-500">Themes</div></a>
    <a href="#"><div class="dobutton stone-500">Tags</div></a>
    <a href="#"><div class="dobutton stone-500">Templates</div></a>
  </div>
  <div class="row container bg-light">
    <div class="col-sm-1 mt-3">
      <p class="text-muted dobutton">Project Lifecycle</p>
      <a href="/projects/project_lifecycle"><div class="dobutton teal-100">Project Lifecycle</div></a>
      <a href="/projects/project_healthcheck"><div class="dobutton teal-300">Project Healthcheck</div></a>
    </div>
    <div class="col-sm-1 mt-3">
      <p class="text-muted dobutton">Risks & Reporting</p>
      <a href="/projects/project_lifecycle"><div class="dobutton fire-red-100">Risks & Issue Management</div></a>
      <a href="/projects/project_reporting"><div class="dobutton fire-red-300">Project Reporting</div></a>
    </div>
    <div class="col-sm-1 mt-3">
      <p class="text-muted dobutton">Knowledge</p>
      <a href="/projects/lessons_learned"><div class="dobutton tangerine-100">Lessons Learned</div></a>
      <a href="/projects/bullet_journal"><div class="dobutton tangerine-300">Daily Log / Bullet Journal</div></a>
    </div>
    <div class="col-sm-1 mt-3">
      <p class="text-muted dobutton">Controls</p>
      <a href="/projects/project_change_control"><div class="dobutton stone-100">Project Change Control</div></a>
      <a href="/projects/deliverables_wbs_pbs"><div class="dobutton stone-300">Deliverables / WBS / PBS</div></a>
    </div>
    <div class="col-sm-1 mt-3">
      <p class="text-muted dobutton">People</p>
      <a href="/projects/project_resources_obs"><div class="dobutton banana-100">Resources / OBS</div></a>
      <a href="/projects/business_change_management"><div class="dobutton banana-300">Business Change Management</div></a>
    </div>
    <div class="col-sm-1 mt-3">
      <p class="text-muted dobutton">Planning</p>
      <a href="/projects/quality_planning"><div class="dobutton purple-100">Quality Planning</div></a>
      <a href="/projects/project_planning"><div class="dobutton purple-300">Planning</div></a>
    </div>
    <div class="col-sm-1 mt-3">
      <p class="text-muted dobutton">Finance</p>
      <a href="/projects/financial_planning"><div class="dobutton royal-blue-100">Financial Planning</div></a>
      <a href="/projects/financial_forecasting"><div class="dobutton royal-blue-300">Financial Forecasting</div></a>
    </div>
  </div>
</div>
