<div class="selector mb-3">
  <div class="row">
    <a href="/projects"><div class="dobutton stone-500">Project Toolkit</div></a>
    <a href="/programmes"><div class="dobutton stone-500">Programme Toolkit</div></a>
    <a href="/portfolio"><div class="dobutton stone-500">Portfolio Toolkit</div></a>
    <a href="#"><div class="dobutton stone-500">Best Practice Toolkit</div></a>
    <a href="/themes"><div class="dobutton stone-500">Themes</div></a>
    <a href="#"><div class="dobutton stone-500">Tags</div></a>
    <a href="/templates"><div class="dobutton stone-500">Templates</div></a>
  </div>
</div>

  {% include project_toolkit.html %}
  {% include programme_toolkit.html %}
  {% include portfolio_toolkit.html %}
  {% include best_practice_toolkit.html %}
