{% include lifecycle_tool.html %}
<div class="lifecycle-content teal-100">
  <div class="row lifecycle-row">
    <div class="col-12 col-md-3 lifecycle-border">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <div class="shape start-shape">Start</div>
    </div>
    <div class="col-12 col-md-6 lifecycle-border">
      <div class="row lifecycle-row">
        <div class="col-12 col-md-4">
          <a href="/projects/project_mandate">
          <div class="shape process-shape">Project Mandate</div>
          </a>
        </div>
        <div class="col-12 col-md-4">
          <a href="/projects/project_brief">
          <div class="shape process-shape">Project Brief</div>
          </a>
        </div>
        <div class="col-12 col-md-4">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <a href="initiation"><div class="shape start-shape">Initiation Stage</div></a>
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
    </div>
  </div>
</div>
