{% include lifecycle_tool.html %}
<div class="lifecycle-content container teal-100 py-3">
  <div class="row">
    <div class="col-12 col-sm-2 border-right">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <div class="shape start-shape">Start</div>
    </div>
    <div class="col-12 col-sm-8 border-right">
      <div class="row">
        <div class="col-6">
          <a href="/projects/project_mandate">
          <div class="shape process-shape">Project Mandate</div>
          </a>
        </div>
        <div class="col-6">
          <a href="/projects/project_brief">
          <div class="shape process-shape">Project Brief</div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-2">
      <a href="initiation">
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      <div class="shape start-shape">Initiation Stage</div>
      <div class="shape empty-shape"></div>
      <div class="shape empty-shape"></div>
      </a>
    </div>
  </div>
</div>
