@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$ff-s: "Lato";

@import "../bootstrap/scss/bootstrap";

$do_width: 120px; // The size of dobuttons and dotitles
$do_height: $do_width / 2.5;
