.shape {
  display: inline-block;
  font-size: 10pt;
  width: $do_width;
  height: $do_height;

  color: $clr-teal-100;
  padding-top: 5px;
  padding-bottom: 5px;

  padding-right: 20px;

  // padding-top: 15px;
  border: 1px solid white;
  text-align: left;
  align-content: center;
  margin: 5px;
  overflow: hidden;
  vertical-align: bottom;
}

.shape:hover {
  text-decoration: none;
  background-color: $clr-banana-100;
  border: 1px solid $clr-banana-100;
  color: black;
}

.empty-shape {
  // background-color: $clr-teal-100;
  border: 1px;
  background-color: inherit;
  margin: 5px;
}
.process-shape {
  clip-path: polygon(85% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(85% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
  padding-left: 5px;
  background-color: white;
}

.start-shape {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  padding-left: 5px;
  background-color: white;

}

.end-shape {
  padding-left: 30px;
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
  background-color: white;
}

.stage-shape {
  padding-top: 15px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: white;
}

.lifecycle {
  background-color: $clr-teal-300;
  .nav-link {
    border: 1px solid white;
    color: white;
  }
  .nav-link.active {
    background-color: $clr-teal-100;
    border: 1px solid white;
    border-bottom: 1px solid $clr-teal-100;
    color: white;
  }
  .nav-link:hover {
    background-color: $clr-banana-100;
    color: black;
    border: 1px solid $clr-banana-100;
  }
}

.lifecycle-content {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.lifecycle-row {
  width: 100%;
  text-align: center; // center the content of the container
}

// for screen sizes less than 576px
@media (max-width: 990.98px){
  .lifecycle-content {
    .row {
      padding-left: 0px;
      padding-right: 0px;
      margin: 0px;
    }
    .lifecycle-row {
      padding-left: 0px;
      padding-right: 0px;

      .lifecycle-border {
        border-bottom: 2px dashed white;
        align-content: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .empty-shape {
        background-color: $clr-stone-100;
        border: 0px;
        display:none;
        height: $do_height;
        width: $do_width;
        margin: 5px;
        padding: 0px;
      }
      .start-shape, .process-shape, .end-shape {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    .col-sm-8, .col-md-4, .col-sm-12, .col-12 {
      margin: 0px;
      padding: 0px;
      vertical-align: top;
    }
  }
}

// for screen sized more than 577px
@media (min-width: 991px) {
  .lifecycle-content {
    .row {
        margin-left: 0px;
        margin-right: 0px;
      .lifecycle-row {
      }
      .lifecycle-border {
        border-right: 2px dashed white;
        border-bottom: 0px;
      }
      .col-lg-4, .col-lg-6, .col-lg-3 {
        margin: 0px;
        padding: 0px;
      }
    }
    .empty-shape {
      width: $do_width;
      height: $do_height;
      padding: 0px;
      margin: 5px;
      visibility: hidden;
      display: inline-block;
    }

    }

}
